@import "tailwindcss";

:root {
  --background: #000000;
}

@theme {
    --font-nohemi: var(--font-nohemi), sans-serif;

  /* Brand Colors */
  --color-orange:        #F85F00;
  --color-green: #B8FF53;
  
}

@layer base {
  body {
    background: var(--background);
  color: #ffffff;
  font-family: var(--font-nohemi), sans-serif;
  }
}


